<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<script src="$Page.OptimizelySourcePath"></script>
	
	<!-- javascript and css -->
	#include as template 'DssCommon/html-assets.html'
	#include as template 'DssCommon/google-analytics.html'

	<title>Online Giving - Cru</title>
	
	$c.ajaxPostbackHeader()
</head>

<body id="checkoutselectpaymentmethod">
	<div id="wrap" class="">

		<!-- header.html - this includes toolbar and navigation -->
		#include as template 'DssCommon/header.html'


		<!-- start content -->
		<div id="content" style="min-height: 50px;">


			<!-- START EDITING FROM HERE -->
			<h1 class="pagetitle">Checkout Step 2 of 3</h1>
			
			<p><b>
			<span class="notCurrentStep">&nbsp;&nbsp;&nbsp;Receipt Mailing Address</span>
								<span class="currentStep">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
			<span class="currentStep">Gift Payment Method</span>
								<span class="currentStep">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
			<span class="notCurrentStep">Submit Gift</span>
			</b></p>
			
			
			
			#include as template 'includes/errors.html'
			#include as template 'includes/canadian-address.html'
			
			
			#if($Page.SelectedPayment.WillExpireTwoMonths && !$Page.SelectedPayment.IsExpired && $Page.EditingCreditCard!="Y")
				<p class="info">
					$Page.SelectedPayment.Descr will soon expire.&nbsp;
					If you know the new expiration date, select "Edit" below to enter the new date.
				</p><br/>
			#end
			
			<form method="post" $c.formPrettyUrl('next')>
			<input type="hidden" $c.bindValue("Page.EditingCreditCard") />
			<table width="100%" align="center" border="0" cellpadding="0" cellspacing="0" style="border:solid 1px black; padding:0;">
			
				<!-- PAYMENT TYPE SECTION -->
				<tr class="tableHeader" height="20">
					<td colspan="2">
						&nbsp;<b>Select A Gift Payment Method To Use</b> 
					</td>
				</tr>
				<tr >
					<td colspan="2">
						<table width="100%" border="0" cellspacing="0" cellpadding="0">
							 <tr height="40" valign="bottom">
								 <td width="15"> </td>
								 <td width="360"><span class="redhighlight">*</span> <b>Accounts On Record:</b><br/>
						 			#if($PaymentMethodList.size()==0)
										No accounts on record.
									#else
										<select $c.bindSelect("Page.SelectedPaymentId") tabindex="4" onchange="$c.ajaxPostbackEvent('content','selectPaymentMethod')">
										#foreach $pm in $PaymentMethodList
											<option $c.selectOption($pm.PaymentId)>$pm.Descr</option>
										#end
										</select>
									#end
								</td>
								<td align="left">
									<a $c.directLink('newBankAccount')>Use A New Bank Account</a><br/>
									<a $c.directLink('newCreditCard')>Use A New Credit Card</a><br/>
								</td>
							</tr>
							<tr>
								<td width="15">&nbsp;</td>
								<td align="left" colspan="2">
									#if($Page.SelectedPayment.PaymentType=="EFT")
										<br/>
										<b>Bank Name:</b> $Page.SelectedPayment.BankName<br/>
										<b>Account Type:</b> $Page.SelectedPayment.DrawCodeLong<br/>
										<b>Bank Account Number:</b> $Page.SelectedPayment.AccountMasked<br/>
										<b>Routing Number:</b> $Page.SelectedPayment.TransitNum<br/><br/>
									#elseif($Page.SelectedPayment.PaymentType=="Credit Card")
										<br/>
										<b>Card Type:</b> $Page.SelectedPayment.CreditCardType.LongName<br/>
										<b>Card Number:</b> $Page.SelectedPayment.AccountMasked</br>

										#if($Page.EditingCreditCard!="Y")
											<hr style="width: 100%; border-bottom:1px dashed #777; border-top:0px; border-left:0px; border-right:0px; line-height:0px; height:1px;">
											<br />
											<b>Expiration Date:</b> $WmUtil.longMonthYearDate($Page.SelectedPayment.ExpirationDate)
											<span style="float: right; position: relative; left: -167px;"><a href="#" onclick="$c.ajaxPostbackEvent('content','editCreditCard')">Edit</a></span> <br />

											<b>Name On Card:</b> $Page.SelectedPayment.NameOnCard <br/>
											<b>Billing Address:</b>
											#if($Page.SelectedPayment.PointToMailAddrBool)
												#set $DisplayAddress = $GiftCart.MailingAddress
											#else
												#set $DisplayAddress = $Page.SelectedPayment.BillingAddress
											#end
											#include as template "includes/DisplayAddress.html"
																	
											<br/><br/>
										#end
									#end
								</td>
							</tr>
							<tr>
								<input type="hidden" $c.bindValue("Page.PaymentIdCurrentlyBeingEdited") />
								<td colspan="3">
									#if($Page.EditingCreditCard=="Y" && $Page.SelectedPayment && $Page.SelectedPayment.PaymentId==$Page.PaymentIdCurrentlyBeingEdited)
										$c.param("payment",$Page.SelectedPayment)
										$c.param("mailingAddress",$GiftCart.MailingAddress)
										$c.param("limitedEdit",true)
										$c.param("conversation",$GiftCart.CreditCardConversation)
										$c.param("isCheckout",true)
										$c.component("CreditCardEditor")
									#end
								</td>
							</tr>
						</table>						
					</td>
				</tr>
				
				<tr  class="tableFooter">
					<td width="500"></td>
					<td width="86" valign="middle" align="right"><input type="submit" class="goldButton" value="Continue" border="0" alt="Continue" /></td>
				</tr>
			</table>
			</form>
			<p>&nbsp;&nbsp;&nbsp;"<span class="redhighlight">*</span>" indicates a required field.</p>
			
			#if($Page.SelectedPayment.PaymentType=="Credit Card")
			
			<p>Please note, 2.35% of each credit card donation (all of which is still tax-deductible) will be used to cover the fee credit card companies charge Cru for the transaction. &nbsp;Bank account transactions have no fee.</p>
			
			#end
			
			


			#include as template 'DssCommon/footer-text.html'
			<!-- STOP EDITING FROM HERE -->

			<div class="clear"></div>
		</div> <!-- end content -->


		<div id="sidebar">

			<div class="box">
				<h3>More Choices</h3>
				#include as template 'includes/searchbox.html'		
			</div> <!--end box -->

		</div> <!--end sidebar -->

		<div class="clear"></div>
		<div class="clear"></div>

	</div> <!-- end wrap -->

	<!-- footer.html -->
	#include as template 'DssCommon/Checkout-footer.html'
