<div id="bankaccounteditor">
	<!--  ====================================================================== -->
	<table style="width:100%; border:0; padding:3px; border-spacing:0;">
		<tr>
			<td class="tableHeader">
				<b> Bank Account Information</b> 
			</td>
		</tr>
		<tr>
			<td>
				<table style="width:100%;">
					<tr height="1"><td colspan="3"></td></tr>
					<tr>
						<td width="3%">&nbsp;</td>
			 			<td width="44%">
							<span class="redhighlight">*</span> <b>Bank Name</b><br/>
							<input type="text" class="inputStyle" size="35" maxlength="30"
								data-ng-required="true" data-ng-model="selectedPayment.bankName" />
						</td>
						<td width="53%" align="left">
							<br/>
							<input name="paymentTypeRadio" type="radio" data-ng-value="'Checking'" data-ng-model="selectedPayment.paymentType" />&nbsp;&nbsp;Checking Account&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input name="paymentTypeRadio" type="radio" data-ng-value="'Savings'" data-ng-model="selectedPayment.paymentType" />&nbsp;&nbsp;Savings Account
						</td>
					</tr>
					<tr height="1"><td colspan="3"></td></tr>
				</table>
			</td>
		</tr>
	</table>

	<!-- ELECTRONIC FUNDS TRANSFER INFORMATION SECTION -->
	<table style="width:100%; border:0; padding:3px; border-spacing:0;">
		<tr class="tableHeader" data-ng-show="selectedPayment.paymentType == 'Savings'">
			<td>			
		 		<b>Routing And Savings Account Numbers</b> 
			</td>
		</tr>
		<tr height="5" data-ng-show="selectedPayment.paymentType == 'Savings'"><td></td></tr>
		<tr height="20" valign="middle" data-ng-show="selectedPayment.paymentType == 'Savings'">
 			<td>
				<table style="width:100%; border:0; padding:3px; border-spacing:0;">
 					<tr>
 						<td width="1%"></td>
						<td width="30%">
							<span class="redhighlight">*</span> <b>Bank Routing Number</b><br/><br/>
							<input type="text" class="inputStyle" style="width:120px;" size="20" maxlength="9" 
								data-ng-required="selectedPayment.paymentType == 'Savings'" data-ng-model="selectedPayment.bankRoutingNumber" />
						</td>
						<td width="29%">
							<span class="redhighlight">*</span> <b>Bank Account Number</b><br/><br/>
							<!-- TODO: figure out masking -->
							<input autocomplete="off" type="text" class="inputStyle" style="width:120px;" size="20" maxlength="17" 
								data-ng-required="selectedPayment.paymentType == 'Savings'" data-ng-model="selectedPayment.bankAccountNumber" />
						</td>
						<td width="9%" align="left">
							<br/><br/><img src="images/CheckArrow.gif">
						</td>
						<td width="31%">
							<span class="redhighlight">*</span> <b>Retype Account Number</b><br/><br/>
							<input autocomplete="off" style="width:120px;" type="text" class="inputStyle" size="20" maxlength="17" 
								data-ng-required="selectedPayment.paymentType == 'Savings'" data-ng-model="retypeBankAccountNumber" />
						</td>
					</tr>
					<tr ><td colspan="5"></td></tr>
					<tr valign="top" >
						<td>&nbsp;</td>
						<td colspan="4">
							<b>Please note:</b> Savings account deposit slips may not have the correct numbers needed<br />
							for an online transaction.  Please contact your bank representative and ask for the<br />
							correct routing number and account number to use for an ACH debit.
						</td>
					</tr>
				</table> 
			</td>
		</tr>
		<tr height="10" data-ng-show="selectedPayment.paymentType == 'Savings'"><td></td></tr>
		
		<tr data-ng-show="selectedPayment.paymentType == 'Checking'">	
			<td class="tableHeader">			
		 		<b>Routing And Checking Account Numbers</b> 
			</td>
		</tr>
		<tr valign="bottom" data-ng-show="selectedPayment.paymentType == 'Checking'">
 			<td>
 				<table style="width:100%; border:0; padding:0; border-spacing:0;">
					<tr height="5"><td colspan="3" width="100%"></td></tr>
 					<tr>
						<td width="2%">&nbsp;</td>
 						<td width="96%"align="center">
 							<img src="images/CheckSample.gif" border="0">
 						</td>
						<td width="2%">&nbsp;</td>
 					</tr>
 					<tr>
						<td width="2%">&nbsp;</td>
 						<td width="96%">
 							<table style="width:100%; border:0; padding:0; border-spacing:0;">
 								<tr>
									<td width="12%">&nbsp;</td>
									<td align="left" width="22%">
										<input type="text" class="inputStyle" style="width: 120px;" autocomplete="off" size="10" maxlength="9" 
											data-ng-required="selectedPayment.paymentType == 'Checking'" data-ng-model="selectedPayment.bankRoutingNumber" />
									</td>
									<td align="left" width="23%">
										<input type="text" class="inputStyle" style="width: 120px;" autocomplete="off" size="17" maxlength="17" 
											data-ng-required="selectedPayment.paymentType == 'Checking'" data-ng-model="selectedPayment.bankAccountNumber" />
									</td>
									<td width="9%" align="left"><img src="images/CheckArrow.gif" border="0"></td>
									<td align="left" width="27%">
										<input type="text" class="inputStyle" autocomplete="off" size="17" maxlength="17" style="width: 120px;" 
											data-ng-required="selectedPayment.paymentType == 'Checking'" data-ng-model="retypeBankAccountNumber" />
									</td>
									<td width="7%">&nbsp;</td>
								</tr>
								<tr>
									<td width="12%">&nbsp;</td>
									<td align="left" width="22%">
										<span class="redhighlight">*</span><a class="helpLink" data-ng-click="showHelpTip('routingNumber', $event)">Routing Number</a>
									</td>
									<td align="left" width="23%">
										<span class="redhighlight">*</span><a class="helpLink" data-ng-click="showHelpTip('accountNumber', $event)">Account Number</a>
									</td>
									<td width="9%">&nbsp;</td>
									<td align="left" width="27%">
										<span class="redhighlight">*</span><a class="helpLink" data-ng-click="showHelpTip('retypeAccountNumber', $event)">Retype Account Number</a>
									</td>
									<td width="7%">&nbsp;</td>
								</tr>
							</table>
						</td>
						<td style="width:2%;">&nbsp;</td>
					</tr>
					<tr>
						<td width="2%">&nbsp;</td>
						<td width="96%" align="left">
							<br/>If your check has an ACH/RT number enter that as your bank routing number.<br /> <br />
							 While this example represents most checks, the sequence of numbers on your check<br />
							 may differ. If you need assistance call your bank's 24 hour customer support or 1-888-278-7233, Monday-Friday, 8am-5pm ET.</td>
						<td width="2%">&nbsp;</td>
					</tr>
					<tr height="10"><td colspan="3" width="100%"></td></tr>
				</table>
			</td>
		</tr>
		
		<tr data-ng-show="!isCheckout && loggedIn">
			<td class="tableHeader">
		 		<b>Optional Bank Account Nickname</b> 
		 	</td>
		</tr>
		<tr data-ng-show="!isCheckout && loggedIn">
			<td>
				<table style="width:100%;">
					<tr height="5"><td></td></tr>
					<tr>
						<td>&nbsp;</td>
						<td colspan="2">You can add an optional nickname for this bank account to make it easier to identify.<br/></td>
					</tr>
					<tr height="5"><td></td></tr>
					<tr>
						<td>&nbsp;</td>
						<td>
							<b>Nickname for this bank account:</b><br/><br/>
							<input type="text" class="inputStyle" autocomplete="off" data-ng-value="" size="37" maxlength="30" 
								data-ng-model="selectedPayment.description"/> &nbsp; 
							<small data-ng-show="selectedPayment.paymentType == 'Checking'">(Example: John's Checking)</small>
							<small data-ng-show="selectedPayment.paymentType == 'Savings'">(Example: John's Savings)</small>
						</td>
					</tr>
					<tr  height="5"><td></td></tr>
				</table>
			</td>
		</tr>
		<tr>
			<td class="tableHeader">
				<b> Bank Account Agreement</b> 
			</td>
		</tr>
		<tr >
			<td>
				<br/>
				<div class="scroll" style="margin-left:auto; margin-right:auto;">By selecting the "I Agree" checkbox below, I acknowledge that I have read, 
				understand and agree to these Terms and Conditions, and that this 
				agreement constitutes a "writing signed by me" under any applicable 
				law or regulation. I authorize Cru 
				to initiate electronic funds transfers (debits) from my account at the 
				financial institution listed above, and to initiate deposits (credits) 
				if necessary for any withdrawals made in error. This authority is to remain 
				in full force and effect until Cru has 
				received notification from me of its termination in such time as to afford 
				Cru reasonable opportunity to act on it. 
				All contributions to Cru are income tax-deductible 
				and are made with the understanding that Cru has 
				complete discretion and control over the use of all donated funds.
				</div>
				<br/>
				<div style="text-align:center;"><input type="checkbox" data-ng-model="agreeToTerms" data-ng-required="true" /><b>&nbsp;I Agree</b></div>
			</td>
		</tr>
		<tr  height="5"><td></td></tr>
	</table>
</div>
